---
import Layout from '../layouts/Layout.astro';
--- 
<Layout>
  <h1 class="text-4xl font-bold font-inder px-[15px]">À propos du festival</h1>
  <br />
  <p class="font-[Poppins,sans-serif] px-[15px]">Les Rives du Territoire est un festival de musiques actuelles et de culture urbaine qui met à l’honneur le hip‑hop, l’électro et la pop indépendante. Conçu comme un rendez‑vous hivernal en plein air, il valorise les talents émergents locaux tout en créant une véritable ambiance de quartier. Le festival propose une fusion entre concerts, street‑art et initiatives autour de l’écologie urbaine, transformant l’espace public en laboratoire créatif où se rencontrent musique, arts visuels et engagements citoyens.</p>
</Layout>