---
const { href, text } = Astro.props;
---

<a
  href={href}
  class="inline-block bg-[#058CD8] text-white uppercase tracking-widest px-10 py-4 rounded-[15px] border-2 border-black font-inder text-sm flex justify-center transition-transform duration-200 hover:scale-105"
>
  {text}
</a>