---
---
<header>
  <div>
    <a href="/" aria-label="Accueil">
      <Logo />
    </a>
  </div>

  <div>
    <button aria-label="Recherche">
      <IconSearch />
    </button>

    <button
      id="menu-btn"
      aria-label="Menu"
      aria-controls="menu"
      aria-expanded="false"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>

    <!-- Navigation -->
    <nav id="menu" aria-hidden="true">
      <ul>
        <li>
          <a href="/conservatoire">Le conservatoire</a>
        </li>
        <li>
          <a href="/enseignements">Enseignements</a>
        </li>
        <li>
          <a href="/agenda">Agenda</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/inscription">S'inscrire</a>
        </li>
      </ul>
    </nav>
  </div>
</header>